.hmContainer {
    display: flex;
    flex-direction: column;
}

.email-section {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 2px;
    justify-content: space-between;
    align-items: center;
}

.email-section input {
    width: 200px;
}
