.footbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    padding: 10px;
    color: #fff;
}

/* small screen responsive design */
@media screen and (max-width: 392px) {
    .footbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icons {
        order: -1;
        align-items: center;
    }

    .links {
        order: 0;
        align-items: center;
    }

    .copyrights {
        order: 1;
        align-items: center;
    }
}
